.height_1 {
    height: 80px;
}

.height_2 {
    height: 200px;
}

.height_3 {
    height: 150px;
}

.height_4 {
    height: 500px;
}

.width_1 {
    width: 200px;
}

.altura-max {
    height: 100%;
}

@font-face {
    font-family: "Normal";
    src: url("DM_Serif_Text/DMSerifText-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Cursiva";
    src: url("DM_Serif_Text/DMSerifText-Italic.ttf") format("truetype");
}

.texto-normal {
    font-family: 'Normal';
}

.cursiva {
    font-family: 'Cursiva';
}

.medida_logo {
    height: 80px;
    width: 160px;
}

.medida_logo2 {
    height: 500px;
    width: 500px;
}

.medida_fondo {
    height: 350px;
    Width: 600px;
}

.gris {
    background-color: gray;
    color: black;
}

.azul {
    background-color: #029cdc;
}

.navbar-collapse {
  background-color: gray;
  border-radius: 10px;
}

.centrado {
    text-align: center;
}

.footer-links a {
  color: inherit; 
  text-decoration: none; 
  font-weight: 500;
  margin: 0 5px;
  cursor: pointer;
}

.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100%;           
}

.marginlt {
    margin-top: 2rem;
    margin-left: 5rem;
}

.color-tr {
    background-color: #646464;
    padding: 20px;
    border-radius: 10px;
}

.titulo {
    display: flex;
    justify-content: center;   
}