.height_1 {
    height: 80px;
}

.height_2 {
    height: 200px;
}

.height_3 {
    height: 150px;
}

.height_4 {
    height: 500px;
}

.width_1 {
    width: 200px;
}

.medida_logo {
    height: 80px;
    width: 160px;
}

.medida_logo2 {
    height: 400px;
    width: 400px;
}

.gris {
    background-color: gray;
    color: black;
}

.azul {
    background-color: #029cdc;
}

.navbar-collapse {
  background-color: gray;
  border-radius: 10px;
}

.centrado {
    text-align: center;
}

.footer-links a {
  color: inherit; 
  text-decoration: none; 
  font-weight: 500;
  margin: 0 5px;
  cursor: pointer;
}

.espaciado {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
}

img {
    max-width: 100%; 
    height: auto;
}

.marginlt {
    margin-top: 2rem;
    margin-left: 5rem;
}